{% extends 'groups/group_base.html' %}

{% block pregroup %}
<div class="row">
<div class='col-md-auto'>
<h4>Member Count: {{group.members.count}}</h2>

</div>
</div>
{% endblock pregroup %}

{% block group_content %}
<div class="row">
    <h1 class='col-md-auto'>{{group.name}}</h1>
</div>

<div class="flex-col">
    {% if user in group.members.all %}
        <a href="{%url 'groups:leave' slug=group.slug %}" class='btn btn-lg btn-fill btn-warning'>
        <span class='glyphicon glyphicon-remove-circle'>Leave</span>
        </a>
    {% else %}
        <a href="{%url 'groups:join' slug=group.slug %}" class='btn btn-lg btn-fill btn-warning'>
        <span class='glyphicon glyphicon-ok-circle'>Join</span>
        </a>
    {% endif %}
</div>

    <div class="row">
    {% if group.posts.count == 0 %}
        <h4 class=''>No posts in this group yet!</h2>
    
    {% else %}

        {% for post in group.posts.all %}

            {% include "posts/_post.html" %}

        {% endfor %}
    {% endif %}

    </div>
{% endblock group_content %}
